//- common frameworks
//- jquery
script(type="text/javascript", src="/static/libs/jquery/jquery_2.1.1.js")
//- bootstrap js
script(type="text/javascript", src="/static/libs/bootstrap/3.4.1/js/bootstrap.min.js")
//- bootstrap essentials js
script(type="text/javascript", src="/static/libs/bootstrap/essentials/js/bootstrap-essentials.js")


//- related to connections
//- socket js
script(type="text/javascript", src="/static/libs/socketio/socket.io.1.4.5.js")


//- nats js
script(type="text/javascript", src="/static/libs/nats.js")
//- nats msg convertor.js 추가
script(type="text/javascript", src="/static/libs/msg_converter/MsgConverter.js")
//- natsConnection.js 추가
script(type="text/javascript", src="/static/js/natsConnection.js")


//- related to components modules
//- angular js
script(type="text/javascript", src="/static/libs/angularjs/angularjs.1.8.0.js")

//- angular js module
script(type="text/javascript", src="/static/libs/angularjs_modules/app.angular.module.js")

//- angular js - core module
script(type="text/javascript", src="/static/libs/angularjs_modules/core/core.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/core/restapi/restapi.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/core/restapi/restapi.service.js")

//- activity feed component
//- angular js - monitoring feed module
script(type="text/javascript", src="/static/libs/angularjs_modules/activityFeed/modules/activityFeed.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/activityFeed/components/activityFeed.component.js")

//- thermal report component
//- datepicker
script(type="text/javascript", src="/static/libs/datepicker/moment.min.js")
script(type="text/javascript", src="/static/libs/datepicker/daterangepicker.js")
//- angular js - monitoring feed module
script(type="text/javascript", src="/static/libs/angularjs_modules/thermalReport/modules/thermalReport.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/thermalReport/components/thermalReport.component.js")
//- script(type="text/javascript", src="/static/libs/angularjs_modules/activityFeed/directives/activityFeed.directive.js")

//- mapview component
//- libs
script(type="text/javascript", src="/static/libs/hammer/hammer.min.js")
script(type="text/javascript", src="/static/libs/vector/vector.js")
script(type="text/javascript", src="/static/libs/three/three.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/tools/common.js")

//- module import
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/MapView.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/modules/mvController.module.js")

script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/modules/mvMap.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/modules/mvMarker.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/modules/mvRobot.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/modules/mvLine.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/modules/mvPoint.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/modules/mvInfoBox.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/modules/mvMenuBox.module.js")


//- component import
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/MapView.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/components/mvController.component.js")

script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/components/mvMap.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/components/mvRobot.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/components/mvMarker.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/components/mvLine.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/components/mvPoint.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/components/mvInfoBox.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/components/mvMenuBox.component.js")


//- directive import
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/directives/mvCanvasTouchEvt.directive.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/directives/mvCanvasMouseEvt.directive.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/directives/mvRepeat.directive.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/mapview/directives/mvLine.directive.js")


//- camera view component
//- angular js - camera view module
script(type="text/javascript", src="/static/libs/angularjs_modules/cameraView/modules/cameraView.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/cameraView/components/cameraView.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/cameraView/directives/cameraView.dragitem.directive.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/cameraView/directives/cameraView.dropitem.directive.js")

//- camera view sub component
//- angular js - camera view sub module
script(type="text/javascript", src="/static/libs/angularjs_modules/cameraViewSub/modules/cameraViewSub.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/cameraViewSub/components/cameraViewSub.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/cameraViewSub/directives/cameraViewSub.dragitem.directive.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/cameraViewSub/directives/cameraViewSub.dropitem.directive.js")


//- control panel component
//- angular js - camera view module
script(type="text/javascript", src="/static/libs/angularjs_modules/controlPanel/modules/controlPanel.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/controlPanel/components/controlPanel.component.js")
//- script(type="text/javascript", src="/static/libs/angularjs_modules/controlPanel/directives/controlPanel.directive.js")

//- command panel component
//- angular js - camera view module
script(type="text/javascript", src="/static/libs/angularjs_modules/commandPanel/modules/commandPanel.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/commandPanel/components/commandPanel.component.js")
//- script(type="text/javascript", src="/static/libs/angularjs_modules/commandPanel/directives/commandPanel.directive.js")

//- robot list component
//- angular js - robot list module
script(type="text/javascript", src="/static/libs/angularjs_modules/robotList/modules/robotList.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/robotList/components/robotList.component.js")
//- script(type="text/javascript", src="/static/libs/angularjs_modules/robotList/directives/robotList.directive.js")

//- robot status component
//- angular js - robot status module
script(type="text/javascript", src="/static/libs/angularjs_modules/robotStatus/modules/robotStatus.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/robotStatus/components/robotStatus.component.js")
//- script(type="text/javascript", src="/static/libs/angularjs_modules/robotStatus/directives/robotStatus.directive.js")

//- robot status sub component
//- angular js - robot status module
script(type="text/javascript", src="/static/libs/angularjs_modules/robotStatusSub/modules/robotStatusSub.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/robotStatusSub/components/robotStatusSub.component.js")
//- script(type="text/javascript", src="/static/libs/angularjs_modules/robotStatusSub/directives/robotStatusSub.directive.js")

//- robot Hw Status component
//- angular js - robot status module
script(type="text/javascript", src="/static/libs/angularjs_modules/robotHwStatus/modules/robotHwStatus.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/robotHwStatus/components/robotHwStatus.component.js")
//- script(type="text/javascript", src="/static/libs/angularjs_modules/robotHwStatus/directives/robotHwStatus.directive.js")


//- robot feed component
//- angular js - robot Feed module
script(type="text/javascript", src="/static/libs/angularjs_modules/robotFeed/modules/robotFeed.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/robotFeed/components/robotFeed.component.js")
//- script(type="text/javascript", src="/static/libs/angularjs_modules/robotFeed/directives/robotFeed.directive.js")

//- robot Alarm component
//- angular js - robot Alarm module
script(type="text/javascript", src="/static/libs/angularjs_modules/robotAlarm/modules/robotAlarm.module.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/robotAlarm/components/robotAlarm.component.js")
script(type="text/javascript", src="/static/libs/angularjs_modules/robotAlarm/directives/robotAlarm.directive.js")



//- common js
script(type="text/javascript", src="/static/js/common.js")
//- header js
script(type="text/javascript", src="/static/js/header.js")






