extends ../header.pug

block home_content

    //- stylesheet        
    link(rel="stylesheet", href="/static/css/home.css")
    div(class="home-logo-case" ng-controller="homeCtrl")
        img(class="home-logo" src="/static/imgs/icons/woniklogo.png")


block scriptadding
    script(type="text/javascript", src="/static/js/home.js")

    